body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0; 
}

.matchButton {
    width: 20px;
    height: 50px;
    position: relative;
    margin-left: auto;

}

